In [1]:
# Printing my name
print('"Hi"! My name is Phanindra.')

"Hi"! My name is Phanindra.

In [2]:
# Printing a quote using " "
print('"Make everyday a little less ordinary."-Anonymous')

"Make everyday a little less ordinary."-Anonymous

In [3]:
# Printing a required pattern
for i in [4,7,11]:
    for _ in range(i,12,2):
        print(end=' ')
    for _ in range(i):
        print(end='@')
    print()
    for _ in range(i+2,12,2):
        print(end=' ')
    print(end='{')
    for _ in range(i):
        print(end=' ')
    print('}')

    @@@@
   {    }
   @@@@@@@
  {       }
 @@@@@@@@@@@
{           }

In [4]:
# Checking whether two lists have same elements at an index
your_cloud_shapes=['circle','turtle','dolphin','truck','apple','spoon']
friend_cloud_shapes=['apple','turtle','spoon','truck','circle','dolphin']
for i in range(len(your_cloud_shapes)):
    if your_cloud_shapes[i]==friend_cloud_shapes[i]:
        print('We saw the same shape!')
    elif your_cloud_shapes[i]!=friend_cloud_shapes[i]:
        print('We saw different shapes this time.')

We saw different shapes this time.
We saw the same shape!
We saw different shapes this time.
We saw the same shape!
We saw different shapes this time.
We saw different shapes this time.

In [5]:
# Printing whether the elements are stored in List or Tuple
person=['Adrienne','Tache','brown','black','10','10']
print(person,'are stored in a list!')
animals=('cats','dogs','turtles','bunnies')
print(animals,'are stored in a tuple!')
colors=['red','orange','yellow','green','blue','indigo','violet']
print(colors,'are stored in a list!')

['Adrienne', 'Tache', 'brown', 'black', '10', '10'] are stored in a list!
('cats', 'dogs', 'turtles', 'bunnies') are stored in a tuple!
['red', 'orange', 'yellow', 'green', 'blue', 'indigo', 'violet'] are stored in a list!

In [6]:
# Completing an expression which gives a result of 333
print(5**3+175+(3%4)*11)

333

In [7]:
# Printing the version of the numpy installed
import numpy as np
print(np.__version__)

1.20.1

In [8]:
# Creating a 1d array of numbers from 0 to 9
import numpy as np
arr=np.arange(10)
print(arr)

[0 1 2 3 4 5 6 7 8 9]

In [9]:
# Creating an array filled with zeroes
import numpy as np
zeroes=np.zeros(5, dtype=int)
print(zeroes)

[0 0 0 0 0]

In [10]:
# Creating an array with evenly spaced numbers
import numpy as np
evenspace=np.linspace(1,10,5)
print(evenspace)

[ 1.    3.25  5.5   7.75 10.  ]

In [11]:
# Sorting an array
import numpy as np
srt=np.array([2,1,5,3,7,4,6,8])
print(np.sort(srt))

[1 2 3 4 5 6 7 8]

In [12]:
# Printing odd values in an array
import numpy as np
odd=np.array([0,1,2,3,4,5,6,7,8,9])
print('>array([{}])'.format(odd[odd%2==1]))

>array([[1 3 5 7 9]])

In [13]:
# Coverting 1d array to 2d array
import numpy as np
dim1=np.arange(10)
dim2=np.reshape(dim1,(2,-1))
print(dim2)

[[0 1 2 3 4]
 [5 6 7 8 9]]

In [14]:
# Printing the unique values in an array
import numpy as np
a=np.array([11,11,12,13,14,15,16,17,12,13,11,14,18,19,20])
print(np.unique(a))

[11 12 13 14 15 16 17 18 19 20]

In [15]:
# Reversing a 1d array
import numpy as np
a=np.array([1,2,3,4,5,6,7,8])
print(np.flipud(a))

[8 7 6 5 4 3 2 1]

In [16]:
# Length of strings
words=['cat','window','defenestrate']
for i in words:
    c=0
    for j in i:
        c+=1
    print('Length of',i,'is',c)

Length of cat is 3
Length of window is 6
Length of defenestrate is 12

In [17]:
# Iterating over the indices of a sequence
lst=['Mary','had','a','little','lamb']
for i in range(len(lst)):
    print(lst[i])

Mary
had
a
little
lamb

In [18]:
# Printing Ranks from 2 to 20
n=2
while n<=20:
    print(n,end=' ')
    n+=1

2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20

In [22]:
# Using pandas
import pandas as pd
titanic = pd.read_csv('titanic_lyst7308.csv')
print('Printing the first 10 rows from the last:')
print(titanic.tail(10),'\n\n')

print('Printing the first 10 rows from the beginning:')
print(titanic.head(10),'\n\n')

print('Filtering the passengers list who are older than 25 years old:')
print(titanic[titanic['age'] > 25],'\n\n')

print('Printing names of passengers who are older than 35 years old:')
print(titanic.loc[titanic['age'] > 35,'name'],'\n\n')

print('Printing the median of age, ticket and fare of the titanic passengers:')
print(titanic[['age','ticket', 'fare']].median(),'\n\n')

print('Printing the maximum, minimum, mean of age, ticket and fare of the titanic passengers respectively:')
print(titanic[['age','ticket', 'fare']].max(),'\n')
print(titanic[['age','ticket', 'fare']].min(),'\n')
print(titanic[['age','ticket', 'fare']].mean(),'\n')

print('Printing mean ticket fare for each of sex and cabin class:')
print(titanic.groupby(['sex', 'cabin'])['fare'].mean(),'\n\n')

print('Sorting the titanic csv file according to the age of passengers:')
print(titanic.sort_values(by=['age']),'\n')

Printing the first 10 rows from the last:
      pclass  survived                                     name     sex   age  \
1299       3         0                      Yasbeck, Mr. Antoni    male  27.0
1300       3         1  Yasbeck, Mrs. Antoni (Selini Alexander)  female  15.0
1301       3         0                     Youseff, Mr. Gerious    male  45.5
1302       3         0                        Yousif, Mr. Wazli    male   NaN
1303       3         0                    Yousseff, Mr. Gerious    male   NaN
1304       3         0                     Zabour, Miss. Hileni  female  14.5
1305       3         0                    Zabour, Miss. Thamine  female   NaN
1306       3         0                Zakarian, Mr. Mapriededer    male  26.5
1307       3         0                      Zakarian, Mr. Ortin    male  27.0
1308       3         0                       Zimmerman, Mr. Leo    male  29.0

      sibsp  parch  ticket     fare cabin embarked boat   body home.dest
1299      1      0    2659  14.4542   NaN        C    C    NaN       NaN
1300      1      0    2659  14.4542   NaN        C  NaN    NaN       NaN
1301      0      0    2628   7.2250   NaN        C  NaN  312.0       NaN
1302      0      0    2647   7.2250   NaN        C  NaN    NaN       NaN
1303      0      0    2627  14.4583   NaN        C  NaN    NaN       NaN
1304      1      0    2665  14.4542   NaN        C  NaN  328.0       NaN
1305      1      0    2665  14.4542   NaN        C  NaN    NaN       NaN
1306      0      0    2656   7.2250   NaN        C  NaN  304.0       NaN
1307      0      0    2670   7.2250   NaN        C  NaN    NaN       NaN
1308      0      0  315082   7.8750   NaN        S  NaN    NaN       NaN


Printing the first 10 rows from the beginning:
   pclass  survived                                             name     sex  \
0       1         1                    Allen, Miss. Elisabeth Walton  female
1       1         1                   Allison, Master. Hudson Trevor    male
2       1         0                     Allison, Miss. Helen Loraine  female
3       1         0             Allison, Mr. Hudson Joshua Creighton    male
4       1         0  Allison, Mrs. Hudson J C (Bessie Waldo Daniels)  female
5       1         1                              Anderson, Mr. Harry    male
6       1         1                Andrews, Miss. Kornelia Theodosia  female
7       1         0                           Andrews, Mr. Thomas Jr    male
8       1         1    Appleton, Mrs. Edward Dale (Charlotte Lamson)  female
9       1         0                          Artagaveytia, Mr. Ramon    male

     age  sibsp  parch    ticket      fare    cabin embarked boat   body  \
0  29.00      0      0     24160  211.3375       B5        S    2    NaN
1   0.92      1      2    113781  151.5500  C22 C26        S   11    NaN
2   2.00      1      2    113781  151.5500  C22 C26        S  NaN    NaN
3  30.00      1      2    113781  151.5500  C22 C26        S  NaN  135.0
4  25.00      1      2    113781  151.5500  C22 C26        S  NaN    NaN
5  48.00      0      0     19952   26.5500      E12        S    3    NaN
6  63.00      1      0     13502   77.9583       D7        S   10    NaN
7  39.00      0      0    112050    0.0000      A36        S  NaN    NaN
8  53.00      2      0     11769   51.4792     C101        S    D    NaN
9  71.00      0      0  PC 17609   49.5042      NaN        C  NaN   22.0

                         home.dest
0                     St Louis, MO
1  Montreal, PQ / Chesterville, ON
2  Montreal, PQ / Chesterville, ON
3  Montreal, PQ / Chesterville, ON
4  Montreal, PQ / Chesterville, ON
5                     New York, NY
6                       Hudson, NY
7                      Belfast, NI
8              Bayside, Queens, NY
9              Montevideo, Uruguay


Filtering the passengers list who are older than 25 years old:
      pclass  survived                                  name     sex   age  \
0          1         1         Allen, Miss. Elisabeth Walton  female  29.0
3          1         0  Allison, Mr. Hudson Joshua Creighton    male  30.0
5          1         1                   Anderson, Mr. Harry    male  48.0
6          1         1     Andrews, Miss. Kornelia Theodosia  female  63.0
7          1         0                Andrews, Mr. Thomas Jr    male  39.0
...      ...       ...                                   ...     ...   ...
1299       3         0                   Yasbeck, Mr. Antoni    male  27.0
1301       3         0                  Youseff, Mr. Gerious    male  45.5
1306       3         0             Zakarian, Mr. Mapriededer    male  26.5
1307       3         0                   Zakarian, Mr. Ortin    male  27.0
1308       3         0                    Zimmerman, Mr. Leo    male  29.0

      sibsp  parch  ticket      fare    cabin embarked boat   body  \
0         0      0   24160  211.3375       B5        S    2    NaN
3         1      2  113781  151.5500  C22 C26        S  NaN  135.0
5         0      0   19952   26.5500      E12        S    3    NaN
6         1      0   13502   77.9583       D7        S   10    NaN
7         0      0  112050    0.0000      A36        S  NaN    NaN
...     ...    ...     ...       ...      ...      ...  ...    ...
1299      1      0    2659   14.4542      NaN        C    C    NaN
1301      0      0    2628    7.2250      NaN        C  NaN  312.0
1306      0      0    2656    7.2250      NaN        C  NaN  304.0
1307      0      0    2670    7.2250      NaN        C  NaN    NaN
1308      0      0  315082    7.8750      NaN        S  NaN    NaN

                            home.dest
0                        St Louis, MO
3     Montreal, PQ / Chesterville, ON
5                        New York, NY
6                          Hudson, NY
7                         Belfast, NI
...                               ...
1299                              NaN
1301                              NaN
1306                              NaN
1307                              NaN
1308                              NaN

[603 rows x 14 columns]


Printing names of passengers who are older than 35 years old:
5                                   Anderson, Mr. Harry
6                     Andrews, Miss. Kornelia Theodosia
7                                Andrews, Mr. Thomas Jr
8         Appleton, Mrs. Edward Dale (Charlotte Lamson)
9                               Artagaveytia, Mr. Ramon
                             ...
1286    Whabee, Mrs. George Joseph (Shawneene Abi-Saab)
1287                   Widegren, Mr. Carl/Charles Peter
1290                   Wilkes, Mrs. James (Ellen Needs)
1298                          Wittevrongel, Mr. Camille
1301                               Youseff, Mr. Gerious
Name: name, Length: 322, dtype: object


Printing the median of age, ticket and fare of the titanic passengers:
age     28.0000
fare    14.4542
dtype: float64


Printing the maximum, minimum, mean of age, ticket and fare of the titanic passengers respectively:
age            80.0
ticket    WE/P 5735
fare       512.3292
dtype: object

age         0.17
ticket    110152
fare         0.0
dtype: object

age     29.881138
fare    33.295479
dtype: float64

Printing mean ticket fare for each of sex and cabin class:
sex     cabin
female  A11      27.7208
        A16      39.6000
        A29      31.6792
        A34      81.8583
        B18      57.9792
                  ...
male    F G73     7.6500
        F2       22.7500
        F38       7.7500
        F4       39.0000
        T        35.5000
Name: fare, Length: 235, dtype: float64


Sorting the titanic csv file according to the age of passengers:
      pclass  survived                                     name     sex   age  \
763        3         1  Dean, Miss. Elizabeth Gladys "Millvina"  female  0.17
747        3         0  Danbom, Master. Gilbert Sigvard Emanuel    male  0.33
1240       3         1          Thomas, Master. Assad Alexander    male  0.42
427        2         1                Hamalainen, Master. Viljo    male  0.67
1111       3         0           Peacock, Master. Alfred Edward    male  0.75
...      ...       ...                                      ...     ...   ...
1293       3         0        Williams, Mr. Howard Hugh "Harry"    male   NaN
1297       3         0                   Wiseman, Mr. Phillippe    male   NaN
1302       3         0                        Yousif, Mr. Wazli    male   NaN
1303       3         0                    Yousseff, Mr. Gerious    male   NaN
1305       3         0                    Zabour, Miss. Thamine  female   NaN

      sibsp  parch              ticket     fare cabin embarked boat  body  \
763       1      2           C.A. 2315  20.5750   NaN        S   10   NaN
747       0      2              347080  14.4000   NaN        S  NaN   NaN
1240      0      1                2625   8.5167   NaN        C   16   NaN
427       1      1              250649  14.5000   NaN        S    4   NaN
1111      1      1  SOTON/O.Q. 3101315  13.7750   NaN        S  NaN   NaN
...     ...    ...                 ...      ...   ...      ...  ...   ...
1293      0      0            A/5 2466   8.0500   NaN        S  NaN   NaN
1297      0      0          A/4. 34244   7.2500   NaN        S  NaN   NaN
1302      0      0                2647   7.2250   NaN        C  NaN   NaN
1303      0      0                2627  14.4583   NaN        C  NaN   NaN
1305      1      0                2665  14.4542   NaN        C  NaN   NaN

                       home.dest
763   Devon, England Wichita, KS
747                  Stanton, IA
1240                         NaN
427                  Detroit, MI
1111                         NaN
...                          ...
1293                         NaN
1297                         NaN
1302                         NaN
1303                         NaN
1305                         NaN

[1309 rows x 14 columns]